@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1080px;
    background: rgb(57, 47, 47);
    color: white;
}
