.header {
    display: flex;
    justify-content: center;
    margin-top: 1.3rem;
}

.list {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.link {
    color: white;
    text-decoration: none;
    border: 1px solid orange;
    border-radius: 8px;
    padding: 1rem;
}

.link:hover {
    text-decoration: underline;
}

.link.active {
    background: orange;
    color: black;
}

@media (min-width: 500px) {
    .header {
        margin-top: 2rem;
    }

    .list { 
        justify-content: center;
        gap: 2rem;
    }

    .link {
        font-size: 1.4rem;
    }
}