.form {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1.4rem;
    width: 100%;
}

.warning {
    color: red;
}

.input {
    font-size: 1.3rem;
    border: none;
    outline: none;
    padding-left: 0.5rem;
    height: 40px;
    width: calc(100% - 42px);
    border-radius: 8px;
}

.input:hover,
input:focus {
    outline: 4px solid green;
    color: green;
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: absolute;
    right: 0;
    font-size: 2.3rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background: #ccc;
    border: none;
    padding-inline: 0;
    padding-block: 0;
}

.add-button:hover,
.add-button:focus {
    background-color: green;
    color: white;
}